<div class="list-table-block">
	<div class="bs-component" style="margin: 1em;">
		<table class="table">
			<thead>
			  <tr colspan="1000" style="padding-left:0;padding-right:0;" data-ng-class="{'active' : $data[$index].$selected,'danger':data_row.deleted == true && !$data[$index].$selected}">
				<th>{{message('contentType_singular')}}</th>
				<th>{{message('contentType_count')}}</th>	
			  </tr>
			  <tr data-ng-repeat="item in data.items" data-ng-class="{'active' : $data[$index].$selected,'danger':data_row.deleted == true && !$data[$index].$selected}">
			  	<td>{{item.contentTypeSubject}}</td>
			  	<td>{{item.count}}</td>
			  </tr>
			</thead>
		</table>
		<div class="row">
   		   <div class="col-xs-12" data-ng-hide="actions.common.params.getParam('hideButtons')">
       		 <button style="margin: 1em;" data-ng-click="back()" class="btn btn-default btn-fix-size pull-left">{{message('btn_back_text')}}</button>
    	   </div>
   		</div>
	</div>
</div>