<div class="list-block" data-ng-init="close_search_panel = false;">
  <div class="list-search-block">
    <div class="row no-margin-bottom">
      <div class="col-md-6 col-xs-6 col-sm-6">
        <h3 class="pull-right min-padding-right" data-ng-hide="actions.common.params.getParam('hideFormTitle')">
          <span>{{formTitle}}</span>
        </h3>
      </div>
      <div class="col-md-6 col-xs-6 col-sm-6" data-ng-hide="actions.common.params.getParam('hideSearchPanel')">
        <button class="btn search btn-search pull-left" id="btnSearch" data-ng-click="close_search_panel = !close_search_panel;" style="margin-top:20px;" data-popover-trigger="mouseenter"
                data-popover="{{close_search_panel ? message('common.open') : message('common.close')}}" data-popover-placement="bottom">
          <i class="glyphicon glyphicon-search"></i>
          <h6 class="no-margin-top">
            <span>{{message('btn_search_text')}}</span>
          </h6>
          <i data-ng-class="close_search_panel ? 'down-arrow' : 'up-arrow'" id="arrow"></i>
        </button>
      </div>
    </div>
    <div data-ng-hide="close_search_panel || actions.common.params.getParam('hideSearchPanel')" class="main-back">
      <form novalidate>
        <fieldset>
          <div class="row max-margin-top">
            <div class="col-md-12 col-xs-12 col-sm-12">
              <div class="row">
	                <div class="col-sm-6 col-md-4 col-xs-12">
	                  <!-- other:text -->
	                  <div class="form-group">
	                    <div class="row">
	                      <div class="field col-lg-4 col-md-5 col-sm-3 col-xs-12 no-padding">
	                        <label for="search_contenttype_code" class="control-label">{{message("contentType_code")}}</label>
	                      </div>
	                      <div class="field col-lg-8 col-md-7 col-sm-9 col-xs-12">
	                        <input type="text" data-ng-model="filter['like:code']" id="search_contenttype_code" class="form-control">
	                      </div>
	                    </div>
	                  </div>
	                </div>
	                <div class="col-sm-6 col-md-4 col-xs-12">
	                  <!-- other:text -->
	                  <div class="form-group">
	                    <div class="row">
	                      <div class="field col-lg-4 col-md-5 col-sm-3 col-xs-12 no-padding">
	                        <label for="search_contenttype_subject" class="control-label">{{message("contentType_subject")}}</label>
	                      </div>
	                      <div class="field col-lg-8 col-md-7 col-sm-9 col-xs-12">
	                        <input type="text" data-ng-model="filter['like:subject']" id="search_contenttype_subject" class="form-control">
	                      </div>
	                    </div>
	                  </div>
	                </div>
	                <div class="col-sm-6 col-md-4 col-xs-12">
	                  <!-- other:auto -->
	                  <div class="form-group">
	                    <div class="row">
	                      <div class="field col-lg-4 col-md-5 col-sm-3 col-xs-12 no-padding">
	                        <label for="search_contenttype_sortOrder" class="control-label">{{message("contentType_sortOrder")}}</label>
	                      </div>
	                      <div class="field col-lg-8 col-md-7 col-sm-9 col-xs-12">
	                        <input type="text" data-ng-model="filter['eq:sortOrder']" id="search_contenttype_sortOrder" class="form-control">
	                      </div>
	                    </div>
	                  </div>
	                </div>
	                <div class="col-sm-6 col-md-4 col-xs-12">
	                  <!-- boolean -->
	                  <div class="form-group">
	                    <div class="row">
	                      <div class="field col-lg-4 col-md-5 col-sm-3 col-xs-12 no-padding">
	                        <label class="control-label" for="search_contenttype_deleted">{{message("contentType_deleted")}}</label>
	                      </div>
	                      <div class="field col-lg-8 col-md-7 col-sm-9 col-xs-12">
	                        <select data-ng-model="filter['eq:deleted']" id="search_contenttype_deleted" class="form-control">
	                          <option value="" selected="selected">---</option>
	                          <option value="true">{{message('common_is')}}</option>
	                          <option value="false">{{message('common_isNot')}}</option>
	                        </select>
	                      </div>
	                    </div>
	                  </div>
	                </div>
                
				
				
              </div>
            </div>
          </div>
          <div class="row max-margin-bottom">
            <div class="col-md-12 col-xs-12 col-sm-12">
              <button data-ng-click="actions.list.clearSearch()" type="button" class="btn btn-success btn-fix-size pull-left">
                {{message('common_all')}}
              </button>
              <button data-ng-click="actions.list.search()" class="btn btn-primary btn-fix-size pull-left no-margin-top max-margin-left">
                {{message('btn_search_text')}}
              </button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="list-table-block">
    <div class="bs-component">
      <table data-ng-table="widget.tableParams" class="table" template-pagination="ng-table/crud-pager" template-header="ng-table/crud-header">
        <tbody>
        <tr data-ng-repeat="data_row in $data track by data_row.pk" data-ng-class="{'active' : $data[$index].$selected,'danger':data_row.deleted == true && !$data[$index].$selected}">
          <td header="'ng-table/all-checkbox'" data-ng-click="params.settings().selectedItemsChanged($index,$event)">
            <input type="checkbox" name="selected" data-ng-checked="$data[$index].$selected">
          </td>
          <td data-title="message('contentType_code')" sortable="'code'" data-ng-click="params.settings().selectedItemsChanged($index,$event)">{{data_row.code }}
          </td>
          <td data-title="message('contentType_subject')" sortable="'subject'" data-ng-click="params.settings().selectedItemsChanged($index,$event)">{{data_row.subject }}
          </td>
          <td data-title="message('contentType_sortOrder')" sortable="'sortOrder'" data-ng-click="params.settings().selectedItemsChanged($index,$event)">{{data_row.sortOrder }}
          </td>
          <td>
            <!--<button data-ng-click="delete(data_row.pk)" class="btn-icon-delete" data-toggle="tooltip" data-original-title="remove"></button>-->
            <button data-ng-click="edit(data_row.pk)" class="btn btn-list" data-popover-trigger="mouseenter" data-ng-show="data.permissions.updatable" data-popover="{{message('btn_edit_text')}}">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <button data-ng-click="display(data_row.pk)" class="btn btn-list" data-popover-trigger="mouseenter" data-ng-show="data.permissions.viewable" data-popover="{{message('btn_view_text')}}">
              <span class="glyphicon glyphicon-eye-open"></span>
            </button>
          </td>
        </tr>
        <tr style="margin:0px;padding:0px;line-height:0.001pt;font-size:0.001pt;">
          <td colspan="1000" style="margin:0px;padding:0px;line-height:0.001pt;font-size:0.001pt;">&nbsp;</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
