
<div class="edit-block">
	<div class="panel-body">
		<form id="contentEditForm" data-ng-submit="save('')" novalidate>
			<fieldset>
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="form-group">
							<div class="row">
								<div class="col-md-2 col-xs-12 no-padding">
									<label for="edit_content_contentStatus" class="control-label">{{message("content_contentStatus")}}</label>
								</div>
								<div class="col-md-10 col-xs-12">
									<select name="edit_content_contentStatus"
										id="edit_content_contentStatus"
										data-ng-options="item.pk as item.toStr for item in data.enums.contentStatus"
										class="form-control" data-ng-model="data.contentStatus">
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</fieldset>
		</form>
	</div>

	<div class="panel-footer"
		data-ng-hide="actions.common.params.getParam('hideButtons')">
		<div class="row">
			<div class="col-md-8"></div>
			<div class="col-md-4">
				<button type="button" class="btn btn-default btn-fix-size pull-left"
					data-ng-click="back()">{{message('btn_back_text')}}</button>
				<button type="button"
					class="btn btn-primary btn-fix-size pull-left min-margin-left"
					data-ng-click="save()">{{message('btn_save_text')}}</button>
			</div>
		</div>
	</div>
</div>