<div class="edit-block">
  <div class="panel-heading background-black max-padding " data-ng-hide="actions.common.params.getParam('hideFormTitle')">
    <h3 class="panel-title color-white">
      <span class="glyphicon glyphicon-pencil"></span>
      <span>{{formTitle}}</span>
      <i class="icon-close  pull-left" data-ng-click="back()"></i>
    </h3>
  </div>
  <div class="panel-body">
    <form id="contentEditForm" data-ng-submit="save('')" novalidate>
      <fieldset>
        <div class="row"><!-- file -->
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <div class="row">
                <div class="col-md-2 col-xs-12 no-padding">
                  <label for="edit_content_file" class="control-label">{{message("content_file")}}</label>
                </div>
                <div class="col-md-10 col-xs-12">
                  <input id="edit_content_file" name="edit_content_file" type="file" data-ngf-select data-ngf-change="actions.common.onFileChange($files,'file')"
                         data-ngf-multiple="false" />
                  <div>{{widget.file.message}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
<!--         <div class="row">enum -->
<!--           <div class="col-md-12 col-sm-12 col-xs-12"> -->
<!--             <div class="form-group"> -->
<!--               <div class="row"> -->
<!--                 <div class="col-md-2 col-xs-12 no-padding"> -->
<!--                   <label for="edit_content_contentStatus" class="control-label">{{message("content_contentStatus")}}</label> -->
<!--                 </div> -->
<!--                 <div class="col-md-10 col-xs-12"> -->
<!--                   <select name="edit_content_contentStatus" id="edit_content_contentStatus" data-ng-options="item.pk as item.toStr for item in data.enums.contentStatus" class="form-control" data-ng-model="data.contentStatus"> -->
<!--                     <option value="" data-ng-selected="data.contentStatus == null">---</option> -->
<!--                   </select> -->
<!--                 </div> -->
<!--               </div> -->
<!--             </div> -->
<!--           </div> -->
<!--         </div> -->
        <div class="row" data-ng-init="actions.common.fillDate('purchaseTime')"><!-- date -->
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <div class="row">
                <div class="col-md-2 col-xs-12 no-padding">
                  <label for="edit_content_purchaseTime" class="control-label">{{message("content_purchaseTime")}}</label>
                </div>
                <div class="col-md-10 col-xs-12">
                  <div class="input-group">
                    <input type="text" class="form-control border-radius-right" id="edit_content_purchaseTime"
                           datepicker-popup-persian="yyyy/MM/dd" date-disabled="false" data-ng-model="data.purchaseTime" is-open="widget.purchaseTime.isOpen" data-ng-required="true"
                           show-button-bar="false" datepicker-options="widget.purchaseTime.options" close-on-date-selection="true"/>
                    <span class="input-group-addon" data-ng-click="widget.purchaseTime.openDate($event)">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row"><!-- other:text -->
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <div class="row">
                <div class="col-md-2 col-xs-12 no-padding">
                  <label for="edit_content_code" class="control-label">{{message("content_code")}}</label>
                </div>
                <div class="col-md-10 col-xs-12">
                  <input name="edit_content_code" type="text" data-ng-model="data.code" id="edit_content_code" class="form-control" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row"><!-- other:text -->
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <div class="row">
                <div class="col-md-2 col-xs-12 no-padding">
                  <label for="edit_content_subject" class="control-label">{{message("content_subject")}}</label>
                </div>
                <div class="col-md-10 col-xs-12">
                  <input name="edit_content_subject" type="text" data-ng-model="data.subject" id="edit_content_subject" class="form-control" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row"><!-- other:auto -->
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <div class="row">
                <div class="col-md-2 col-xs-12 no-padding">
                  <label for="edit_content_sortOrder" class="control-label">{{message("content_sortOrder")}}</label>
                </div>
                <div class="col-md-10 col-xs-12">
                  <input name="edit_content_sortOrder" type="text" data-ng-model="data.sortOrder" id="edit_content_sortOrder" class="form-control" />
                </div>
              </div>
            </div>
          </div>
        </div>
     	<div class="row">
					<!-- combo -->
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="form-group">
							<div class="row">
								<div class="col-md-2 col-xs-12 no-padding">
									<label for="edit_content_contentType"
										class="control-label required-input">{{message("content_contentType")}}</label>
								</div>
								<div class="col-md-10 col-xs-12">
									<select name="edit_content_contentType"
										id="edit_content_contentType"
										data-ng-options="item.pk as item.toStr for item in data.options.contentType.items"
										class="form-control" data-ng-model="data.contentType.pk"
										data-ng-change="data.adaptiveDataModel={}; onContentTypeChanged()" required>
										<option value=""
											data-ng-selected="data.contentType.pk == null">---</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<!-- combo -->
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="form-group">
							<div class="row">
								<div class="col-md-2 col-xs-12 no-padding">
									<label for="edit_content_library"
										class="control-label required-input">{{message("content_library")}}</label>
								</div>
								<div class="col-md-10 col-xs-12">
									<select name="edit_content_library" id="edit_content_library"
										data-ng-options="item.pk as item.toStr for item in validLibraries"
										class="form-control" data-ng-model="data.library.pk" required>
										<option value="" data-ng-selected="data.library.pk == null">---</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>

        <div class="row"><!-- combo -->
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <div class="row">
                <div class="col-md-2 col-xs-12 no-padding">
                  <label for="edit_content_confidentialLevel" class="control-label required-input">{{message("content_confidentialLevel")}}</label>
                </div>
                <div class="col-md-10 col-xs-12">
                  <select name="edit_content_confidentialLevel" id="edit_content_confidentialLevel" data-ng-options="item.pk as item.toStr for item in data.options.confidentialLevel.items" class="form-control" data-ng-model="data.confidentialLevel.pk" required>
                    <option value="" data-ng-selected="data.confidentialLevel.pk == null">---</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        
          <div class="row"><!-- other:text -->
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <div class="row">
                <div class="col-md-2 col-xs-12 no-padding">
                  <label for="edit_content_explanation" class="control-label">{{message("content_explanation")}}</label>
                </div>
                <div class="col-md-10 col-xs-12">
                  <text-angular name="edit_content_explanation" type="text" data-ng-model="data.explanation" id="edit_content_explanation" class="form-control" ></text-angular>
                </div>
              </div>
            </div>
          </div>
        </div>
		
       
        <hr>
        <adaptive-widget data-ng-model="data.adaptiveDataModel" adaptive-name="contentType"
                         adaptive-id="data.contentType.pk" type="EDIT">
        </adaptive-widget>
      </fieldset>
    </form>
  </div>
  <div class="panel-footer" data-ng-hide="actions.common.params.getParam('hideButtons')">
    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-4">
        <button id="btn-edit-back" type="button" class="btn btn-default btn-fix-size pull-left" data-ng-click="back()">{{message('btn_back_text')}}</button>
        <button id="btn-edit-saveOrUpdate" type="button" class="btn btn-primary btn-fix-size pull-left min-margin-left" data-ng-click="save('')">{{message('btn_save_text')}}</button>
      </div>
    </div>
  </div>
</div>
