@CHARSET "UTF-8";
@font-face {
  font-family: 'fa-regular-400';
  src: url('fa-regular-400.eot') format('eot'), url('fa-regular-400.ttf') format('truetype'), url('fa-regular-400.woff') format('woff'), url('fa-regular-400.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}