<div class="edit-block">
	<div class="panel-heading background-black max-padding "
		data-ng-hide="actions.common.params.getParam('hideFormTitle')">
		<h3 class="panel-title color-white">
			<span class="glyphicon glyphicon-pencil"></span> <span>{{formTitle}}</span>
		</h3>
	</div>
	<div class="panel-body">
		<form id="systemsettingEditForm" data-ng-submit="save('')" novalidate>
			<fieldset>
				<div class="row">
					<!-- other:auto -->
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="form-group">
							<div class="row">
								<div class="col-md-2 col-xs-12 no-padding">
									<label for="edit_sysemsetting_maxFileSize"
										class="control-label">{{message("systemSetting_maxFileSize")}}</label>
								</div>
								<div class="col-md-10 col-xs-12">
									<input name="edit_sysemsetting_maxFileSize" type="number"
										data-ng-model="data.config.maxFileSize"
										id="edit_sysemsetting_maxFileSize" class="form-control" />
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="form-group">
							<div class="row">
								<div class="col-md-2 col-xs-12 no-padding">
									<label for="edit_sysemsetting_validFileFormats"
										class="control-label">{{message("systemSetting_validFileFormats")}}</label>
								</div>
								<div class="col-md-10 col-xs-12">
									<tags-input class="form-control input-sm" use-strings="true"
										style="direction: rtl;"
										name="edit_sysemsetting_validFileFormats"
										id="edit_sysemsetting_validFileFormats"
										ng-model="data.config.validFileFormats" placeholder="add a format">
									</tags-input>
								</div>
							</div>
						</div>
					</div>
				</div>

			</fieldset>
		</form>
	</div>
	<div class="panel-footer"
		data-ng-hide="actions.common.params.getParam('hideButtons')">
		<div class="row">
			<div class="col-md-8"></div>
			<div class="col-md-4">
				<button type="button"
					class="btn btn-primary btn-fix-size pull-left min-margin-left"
					data-ng-click="mySave()">{{message('btn_save_text')}}</button>
			</div>
		</div>
	</div>
</div>
