<div class="edit-block">
  <div class="panel-heading background-black max-padding " data-ng-hide="actions.common.params.getParam('hideFormTitle')">
    <h3 class="panel-title color-white">
      <span class="glyphicon glyphicon-pencil"></span>
      <span>{{formTitle}}</span>
      <i class="icon-close  pull-left" data-ng-click="back()"></i>
    </h3>
  </div>
  <div class="panel-body">
    <form id="attachmentEditForm" data-ng-submit="save('content')" novalidate>
      <fieldset>
        <div class="row"><!-- file -->
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <div class="row">
                <div class="col-md-2 col-xs-12 no-padding">
                  <label for="edit_attachment_file" class="control-label">{{message("attachment_file")}}</label>
                </div>
                <div class="col-md-10 col-xs-12">
                  <input id="edit_attachment_file" name="edit_attachment_file" type="file" data-ngf-select data-ngf-change="actions.common.onFileChange($files,'file')"
                         data-ngf-multiple="false" />
                  <div>{{widget.file.message}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row"><!-- other:text -->
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <div class="row">
                <div class="col-md-2 col-xs-12 no-padding">
                  <label for="edit_attachment_code" class="control-label">{{message("attachment_code")}}</label>
                </div>
                <div class="col-md-10 col-xs-12">
                  <input name="edit_attachment_code" type="text" data-ng-model="data.code" id="edit_attachment_code" class="form-control" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row"><!-- other:text -->
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <div class="row">
                <div class="col-md-2 col-xs-12 no-padding">
                  <label for="edit_attachment_subject" class="control-label">{{message("attachment_subject")}}</label>
                </div>
                <div class="col-md-10 col-xs-12">
                  <input name="edit_attachment_subject" type="text" data-ng-model="data.subject" id="edit_attachment_subject" class="form-control" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row"><!-- other:auto -->
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <div class="row">
                <div class="col-md-2 col-xs-12 no-padding">
                  <label for="edit_attachment_sortOrder" class="control-label">{{message("attachment_sortOrder")}}</label>
                </div>
                <div class="col-md-10 col-xs-12">
                  <input name="edit_attachment_sortOrder" type="text" data-ng-model="data.sortOrder" id="edit_attachment_sortOrder" class="form-control" />
                </div>
              </div>
            </div>
          </div>
        </div>
        	<!--we don't show master field in detail edit form-->
        <div class="row"><!-- combo -->
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <div class="row">
                <div class="col-md-2 col-xs-12 no-padding">
                  <label for="edit_attachment_attachmentType" class="control-label required-input">{{message("attachment_attachmentType")}}</label>
                </div>
                <div class="col-md-10 col-xs-12">
                  <select name="edit_attachment_attachmentType" id="edit_attachment_attachmentType" data-ng-options="item.pk as item.toStr for item in data.options.attachmentType.items" class="form-control" data-ng-model="data.attachmentType.pk" required>
                    <option value="" data-ng-selected="data.attachmentType.pk == null">---</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
		
      </fieldset>
    </form>
  </div>
  <div class="panel-footer" data-ng-hide="actions.common.params.getParam('hideButtons')">
    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-4">
        <button type="button" class="btn btn-default btn-fix-size pull-left" data-ng-click="back()">{{message('btn_back_text')}}</button>
        <button type="button" class="btn btn-primary btn-fix-size pull-left min-margin-left" data-ng-click="save('content')">{{message('btn_save_text')}}</button>
      </div>
    </div>
  </div>
</div>
